{{>_erros}}
<h3>Editar Categoria</h3>
<hr>

<div class="card">
    <div class="card-body">
        <form method="post" action="/admin/categorias/edit">
            <input type="hidden" name="id" value="{{categoria._id}}">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" placeholder="Nome da categoria" class="form-control" value="{{categoria.nome}}" min="2" max="60">

            <label for="slug">Slug:</label>
            <input type="text" name="slug" id="slug" placeholder="Slug da categoria" class="form-control" value="{{categoria.slug}}" min="2" max="60">
            <br>
            <button type="submit" class="btn btn-success">Salvar Categoria</button>
        </form>
    </div>
</div>