{{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div> 
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}

{{!-- 
    sucess_msg e error_msg estão vindo do registro de variáveis globais do arquivo app.js
 --}}