<a href="/teste">Voltar a página de testes</a>
<hr>
<div class="card">
    <div class="card-body">
        <h2>Teste: Módulo Flash</h2>
        <hr>
        {{#if teste_resposta}}
            <div class="alert alert-info">{{teste_resposta}}</div>
        {{#else}}
            <div class="alert alert-warning">Nehuma resposta recebida</div>
        {{/else}}
        {{/if}}
    </div>
</div>